.create-form-container {
  background-color: #0ea5e9;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 20px 60px;
  margin-top: 100px;
  border-radius: 10px;
}

.create-text {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
}

.create-form {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  row-gap: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-container input {
  width: 100%;
  border: none;
  border-radius: 10px !important;
  padding-left: 10px;
  height: 30px;
}

.input-container textarea {
  width: 100%;
  border: none;
  border-radius: 10px !important;
  padding-left: 10px;
  height: 50px;
  font-family: inherit;
}

.input-container label {
  font-weight: 600;
  color: white;
}

.create-btn {
  border: none;
  padding: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: #0c4a6e;
  letter-spacing: 1px;
}
